:root {
  --silver: #9c9c9c;
  --cyan: #2ad7da;
  --darkCyan: #116163;
}
#audioInterface {
  border: 0.1rem solid var(--silver);
  border-radius: 10px;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: small;
}
.aiSection {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 1rem;
}
.aiKnob {
  border-radius: 100%;
  background-color: var(--silver);
  border: 1px solid var(--silver);
  cursor: pointer;
}
.aiBar {
  grid-row: span 2;
  border-radius: 5px;
  border: 1px solid var(--silver);
}
.aiPhantom {
  border-radius: 100%;
  background-color: var(--cyan);
  border: 1px solid var(--cyan);
  border-style: outset;
  cursor: pointer;
}
.aiPhantom:hover,
.btnActive {
  border-radius: 100%;
  background-color: var(--darkCyan);
  border: 1px solid var(--darkCyan);
  border-style: groove;
  cursor: pointer;
}
.pha {
  margin-left: 0.5rem;
}
.phaRed {
  color: red;
}
@media (min-width: 1024px) {
  #audioInterface {
    display: flex;
    width: 1000px;
    height: 100px;
  }
  .aiKnob {
    width: 33px;
    height: 33px;
  }
  .aiBar {
    width: 33px;
    height: 66px;
  }
  .aiPhantom {
    width: 12px;
    height: 12px;
  }
  .aiPhantom:hover,
  .btnActive {
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 1536px) {
  #audioInterface {
    display: flex;
    width: 1500px;
    height: 150px;
  }
  .aiKnob {
    width: 50px;
    height: 50px;
  }
  .aiBar {
    width: 50px;
    height: 100px;
  }
  .aiPhantom {
    width: 20px;
    height: 20px;
    margin-top: 1rem;
  }
  .aiPhantom:hover,
  .btnActive {
    width: 20px;
    height: 20px;
    margin-top: 1rem;
  }
}
