#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header > span:nth-child(1) {
  font-size: 4rem;
  background: -webkit-linear-gradient(
    102deg,
    var(--black) 1%,
    var(--white) 50%,
    var(--black) 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
}
#header > hr:nth-child(2) {
  width: 50rem;
}
#header > span:nth-child(3) {
  margin-top: 2rem;
  font-size: 2rem;
  background: -webkit-linear-gradient(right, var(--blue), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 50rem;
}
#nav > a:nth-child(1),
#nav > a:nth-child(2) {
  border: 0.1rem solid var(--white);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
#nav > a:nth-child(1):hover,
#nav > a:nth-child(2):hover {
  background-color: var(--gray);
}
#foot {
  background-color: var(--black);
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
@media (min-width: 1536px) {
  #contact {
    position: absolute;
    right: 2rem;
    top: 3rem;
    align-items: end;
  }
}
@media (min-width: 1024px) {
  #contact {
    margin-top: 1rem;
  }
  #header > span:nth-child(1) {
    font-size: 10rem;
  }
  #nav {
    flex-direction: row;
  }
  #nav > a:nth-child(1),
  #nav > a:nth-child(2) {
    border: 0.2rem solid var(--white);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
