#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header > span:nth-child(1) {
  background: -webkit-linear-gradient(
    102deg,
    var(--black) 1%,
    var(--white) 50%,
    var(--black) 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
}
#header > hr:nth-child(2) {
  width: 85vw;
}
#header > span:nth-child(3) {
  font-size: 7vw;
  margin-top: 1rem;
  background: -webkit-linear-gradient(right, var(--blue), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#and {
  display: none;
}
#muMast,
#auEng {
  display: block;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (orientation: portrait) {
  #nav {
    flex-direction: column-reverse;
  }
  #header > span:nth-child(1) {
    font-size: 14vw;
  }
}
@media screen and (orientation: landscape) {
  #nav {
    flex-direction: row;
  }
  #header > span:nth-child(1) {
    font-size: 14vw;
  }
}
@media (max-height: 500px) and (orientation: landscape) {
  #header > span:nth-child(3),
  #contact {
    display: none;
  }
}
#nav > a {
  border: 0.1rem solid var(--white);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
#nav > a:hover {
  background-color: var(--gray);
  box-shadow: 0 0 1rem 0.25rem var(--pink);
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
#desc {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 75%;
}
#desc > span {
  padding: 1rem;
  text-align: center;
}
#desc > span:not(:first-child) {
  border: 1px solid var(--white);
  box-shadow: 8px 5px 10px var(--blue), -8px 8px 10px var(--pink),
    0px -3px 7px var(--white);
  border-radius: 15px;
  margin-top: 1.5rem;
}
@media (min-width: 1536px) {
  #contact {
    position: absolute;
    right: 2rem;
    top: 3rem;
    align-items: end;
  }
  #main {
    margin-top: 1rem;
  }
  @media (min-width: 1800px) {
    #nav {
      position: absolute;
      left: 0rem;
      top: 1rem;
      align-items: end;
      margin: 0;
    }
    #main {
      margin-top: 3rem;
    }
  }
}
@media (min-width: 1023px) {
  #contact {
    margin-top: 1rem;
  }
  #header > span:nth-child(1) {
    font-size: 10rem;
  }
  #header > span:nth-child(3) {
    font-size: 2rem;
  }
  #nav {
    flex-direction: row;
    margin-bottom: 3rem;
  }
  #nav > a {
    border: 0.1rem solid var(--white);
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #header > hr:nth-child(2) {
    width: 50rem;
    margin-top: 2rem;
  }
  #and,
  #muMast,
  #auEng {
    display: initial;
  }
  #desc {
    display: grid;
    grid-template-areas: "x x x";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
    font-size: 2rem;
  }
  #desc > span:not(:first-child) {
    margin-top: 0;
  }
  #desc > span:nth-child(1) {
    grid-area: x;
  }
}
